dark-primary-color    { background: #F57C00; }
.default-primary-color { background: rgb(255, 174, 0); }
.light-primary-color   { background: #FFE0B2; }
.text-primary-color    { color: #212121; }
.accent-color          { color: #4CAF50; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

body {
   background-color: rgb(255, 174, 0);
}

h1 {color: whitesmoke;
   text-align: center;}
p {
   text-align: center;

}

.founder-image {
  height:200px;
}

.form-group{margin-right: }

.contactContainer{
   text-align: right;
   margin-right: 300px;
}