.dark-primary-color {
   background: #F57C00;
}

.default-primary-color {
   background: #FF9800;
}

.light-primary-color {
   background: #FFE0B2;
}

.text-primary-color {
   color: #212121;
}

.accent-color-bg {
   background: #4CAF50;
}

.accent-color {
   color: #4CAF50;
}

.primary-text-color {
   color: #212121;
}

.secondary-text-color {
   color: #757575;
}

.divider-color {
   border-color: #BDBDBD;
}


body {
    background-color: aliceblue;
    background-image: url("https://cdn2.justwineapp.com/assets/article/2017/05/free-beer-images-keg-cask-tapping-creative-commons-cc-oktoberfest-photos.jpg");
    background-position: top;
}

.home-jumbotron {
    height: 600px;
}

.card-title {
   text-align: center;
}

.img-fluid {
   max-width: 100%; 
   height: 250px ; 
   margin-bottom: 15px;
  
}

.contactContainer {
   /* text-align: right; */
   /* margin-right: 300px; */
}

#six-pack .card,
#about-us .card {
   background-color: transparent;
   border: none;
}

#ourFullStoryButton {
   border: solid 1px black;
   color: white;
   background-color: #4CAF50;
}

#ourFullStoryButton:hover {
   background-color: white;
   color: #4CAF50;
   cursor: pointer;
}

#ourBeersCarousel {
    border: 5px solid #F57C00;
}

#form_message {
   font-size: 12px;
   height: 125px;
}

#form_email {
   font-size: 12px;
}

#form_name {
   font-size: 12px;
}
#ourBeersListHeader {
    margin-top: 75px;
    margin-bottom: 20px;
}

#ourBeersList {
    font-weight: bold;
}

#ourBeersList .row {
    margin-bottom: 15px;
}

.section-container {
    border-top: 5px solid #4CAF50;
    border-bottom: 5px solid #4CAF50;
}

.footer-container {
    border-top: 5px solid #4CAF50;
}

.carousel-section {
  background-color: rgba(254, 124, 0, 0.5)
}